@page "/expconsultaid/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta
@inject CasoDeUsoExpedienteConsultaId CasoConsulta
<PageTitle>SGE | Expediente</PageTitle>

<h3>Consulta de Expediente por ID</h3>
<input placeholder="ID a consultar" @bind="idExp" class="mt-3 form-control" /><br>
<button class="btn btn-primary" @onclick="() => Consultar(idExp)">Aceptar</button><br>
@if (visible)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caratula</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
                <th>Fecha de modificacion</th>
                <th>Ultimo usuario en modificarlo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@e.Id</td>
                <td>@e.Caratula</td>
                <td>@e.Estado</td>
                <td>@e.FechayHoraCr</td>
                <td>@e.FechayHoraMod</td>
                <td>@e.IdUser</td>
            </tr>
        </tbody>
    </table>
}
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
<br>
<CuadroDialogo @ref=dialogo Mensaje=@error />

@code {
    [Parameter] public int Id { get; set; }
    int idExp;
    string error = "";
    Expediente e = new();
    bool visible = false;
    CuadroDialogo dialogo = null!;

    protected override void OnInitialized()
    {
        try
        {
            Usuario user = UsuarioConsulta.Ejecutar(Id);
        }
        catch
        {
            Navigation.NavigateTo("/");
        }
    }

    void Volver()
    {
        Navigation.NavigateTo($"home/{Id}");
    }

    void Consultar(int idExp)
    {
        try
        {
            e = CasoConsulta.Ejecutar(idExp);
            visible = true;
            error = "";
        }
        catch (Exception e)
        {
            error = e.Message;
            dialogo.Mostrar();
            visible = false;
        }
    }
}
