@page "/Consultaexpid/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoConsultaExpedienteId CasoDeUsoConsultaExpedienteId
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
<h3>ConsultaExpId</h3>
<label for="barra">Id de expediente a consultar</label>
<input placeholder="Id" @bind="idexp" class="barra"/><br>
<button @onclick="() => Consultar(idexp)">Consultar</button><br>
Id : @e.Id<br>
Caratula : @e.Caratula<br>
Estado : @e.Estado<br>
Fecha creacion : @e.FechayHoraCr<br>
Fecha modificacion : @e.FechayHoraMod<br>
Usuario que edito ultimo : @e.IdUser<br>
<button @onclick="Volver">Volver al menu</button>

@code {
    [Parameter] public int Id {get; set;}
    Usuario user;
    int idexp;
    string error = "";
    Expediente e = new Expediente();

    public void Volver()
    {
        Navigation.NavigateTo($"home/{user.Id}");
    }

    public void Consultar(int idexp)
    {
        try
        {
            e = CasoDeUsoConsultaExpedienteId.Ejecutar(idexp);
            StateHasChanged();
        }
        catch (Exception e)
        {
            error = e.Message;
            StateHasChanged();
        }
    }

    protected override void OnInitialized() 
    {
        user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
        StateHasChanged();
    }

}
