@page "/explistar/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes CasoListar
@inject NavigationManager Navigation
<PageTitle>SGE | Expedientes</PageTitle>
<h3>Lista de Expedientes</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Caratula</th>
            <th>Estado</th>
            <th>Fecha de creacion</th>
            <th>Fecha de modificacion</th>
            <th>Ultimo usuario en modificarlo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Expediente e in expedientes)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Caratula</td>
                <td>@e.Estado</td>
                <td>@e.FechayHoraCr</td>
                <td>@e.FechayHoraMod</td>
                <td>@e.IdUser</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>

@code {
    [Parameter] public int Id {get; set;}
    List<Expediente> expedientes = [];

    protected override void OnInitialized() {
        expedientes = CasoListar.Ejecutar();
        StateHasChanged();
    }

    public void Volver()
    {
        Navigation.NavigateTo($"home/{Id}");
    }

}
