@page "/home/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoConsultaUsuarioId ConsultaUsuario
@inject NavigationManager Navigation
<PageTitle>SGE</PageTitle>
<h3>Sistema de Gestion de Expedientes</h3>

<h5>Bienvenido @user.Nombre @user.Apellido</h5>
<br>
<NavLink href="@($"/expalta/{user.Id}")">Dar de alta un expediente</NavLink>
<br>
<NavLink href="@($"/expbaja/{user.Id}")">Dar de baja un expediente</NavLink>
<br>
<NavLink href="@($"/tramitealta/{user.Id}")">Dar de alta un tramite</NavLink>
<br>
<NavLink href="@($"/tramitebaja/{user.Id}")">Dar de baja un tramite</NavLink>
<br>
<NavLink href="@($"/expconsultaid/{user.Id}")">Consultar un expediente por su id</NavLink>
<br>
<NavLink href="@($"/explistar/{user.Id}")">Listar los expedientes</NavLink>
<br>
<NavLink href="@($"/tramitemodificacion/{user.Id}")">Modificar tramite</NavLink>
<br>
<NavLink href="@($"/tramiteconsultaid/{user.Id}")">Consultar tramite por su ID</NavLink>
<br><br><br>
<NavLink href="/">Cerrar sesion</NavLink>

@code {
    [Parameter] public int Id { get; set; }
    Usuario user = new();

    protected override void OnInitialized()
    {
        user = ConsultaUsuario.Ejecutar(Id);
    }
}
