@page "/home/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoConsultaUsuarioId ConsultaUsuario
@inject NavigationManager Navigation
<PageTitle>SGE | Home</PageTitle>

<h3>Bienvenido @user.Nombre @user.Apellido</h3>
<h5>Debajo se encuentran las funcionalidades disponibles para los expedientes y tramites</h5>
<table class="table">
    <thead>
        <tr>
            <th>Expediente</th>
            <th>Tramite</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expalta/{user.Id}")">Agregar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitealta/{user.Id}")">Agregar tramite</NavLink></td>
        </tr>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expbaja/{user.Id}")">Eliminar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitebaja/{user.Id}")">Eliminar tramite</NavLink></td>
        </tr>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expmod/{user.Id}")">Modificar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitemodificacion/{user.Id}")">Modificar tramite</NavLink></td>
        </tr>
        <tr>
            <td><NavLink class="nav-link" href="@($"/explistar/{user.Id}")">Lista de expedientes</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitelistar/{user.Id}")">Lista de tramites</NavLink></td>
        </tr>
        <tr>
            <td><NavLink class="nav-link" href="@($"/expconsultaid/{user.Id}")">Consultar expediente con ID</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaid/{user.Id}")">Consultar tramite con ID</NavLink></td>
        </tr>
        <tr>
            <td></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaetiqueta/{user.Id}")">Consultar tramites con etiqueta</NavLink></td>
        </tr>
        <tr>
            <td></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaexpid/{user.Id}")">Consultar tramites con ID de expediente</NavLink></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
@if (Id == 1) 
{
    <NavLink class="nav-link" href="@($"/usermod/{user.Id}")">Editar los datos de un usuario</NavLink>
    <br>
    <NavLink class="nav-link" href="@($"/adminperm/{user.Id}")">Administrar permisos</NavLink>
    <br>
    <NavLink class="nav-link" href="@($"/listarusers/{user.Id}")">Ver lista de usuarios</NavLink>
}
<NavLink class="nav-link" href="@($"/usermodself/{user.Id}")">Editar mis datos de usuario</NavLink>
<button class="btn btn-primary"><NavLink class="nav-link text-white" href="/">Cerrar Sesion</NavLink></button>

@code {
    [Parameter] public int Id { get; set; }
    Usuario user = new();

    protected override void OnInitialized()
    {
        user = ConsultaUsuario.Ejecutar(Id);
    }
}
