@page "/home"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta
@inject NavigationManager Navigation
@inject UsuarioLogeado usuario
<PageTitle>SGE | Home</PageTitle>

<h3>Bienvenido @usuario.user.Nombre @usuario.user.Apellido </h3>
<table class="table">
    <thead>
        <tr>
            <th>Expedientes</th>
            <th>Tramites</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expalta")">Agregar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitealta")">Agregar tramite</NavLink></td>
        </tr>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expbaja")">Eliminar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitebaja")">Eliminar tramite</NavLink></td>
        </tr>
        <tr> 
            <td><NavLink class="nav-link" href="@($"/expmod")">Modificar expediente</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitemodificacion")">Modificar tramite</NavLink></td>
        </tr>
        <tr>
            <td><NavLink class="nav-link" href="@($"/explistar")">Lista de expedientes</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramitelistar")">Lista de tramites</NavLink></td>
        </tr>
        <tr>
            <td><NavLink class="nav-link" href="@($"/expconsultaid")">Consultar expediente con ID</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaid")">Consultar tramite con ID</NavLink></td>
        </tr>
        <tr>
            <td><NavLink class="nav-link" href="@($"/exptramlistar")">Listar expediente junto a sus tramites</NavLink></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaetiqueta")">Consultar tramites con etiqueta</NavLink></td>
        </tr>
        <tr>
            <td></td>
            <td><NavLink class="nav-link" href="@($"/tramiteconsultaexpid")">Consultar tramites con ID de expediente</NavLink></td>
        </tr>
    </tbody>
</table>
@if (@usuario.user.Id == 1)
{
    <button class="btn btn-primary mt-2"><NavLink class="nav-link text-white" href="/gestion">Gestion de Usuarios</NavLink></button>
}
else
{
    <button class="btn btn-primary mt-2"><NavLink class="nav-link text-white" href="@($"/usermod/{usuario.user.Id}")">Cambiar datos personales</NavLink></button>
}
<br>
<button class="btn btn-danger mt-2"><NavLink class="nav-link text-white" @onclick="cerrar">Cerrar Sesion</NavLink></button>
<br>


@code {
    private void cerrar()
    {
        usuario.CerrarSesion();
        Navigation.NavigateTo("/");
    }
}
