@page "/home/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
@inject NavigationManager Navigation
<h3>Sistema de gestion de expedientes</h3>

Bienvenido @user.Nombre @user.Apellido
<br>
<NavLink href="@($"/AltaExp/{user.Id}")">Haga click para dar de alta un expediente</NavLink>
<br>
<NavLink href="@($"/BajaExp/{user.Id}")">Haga click para dar de baja un expediente</NavLink>
<br>
<NavLink href="@($"/AltaTramite/{user.Id}")">Haga click para dar de alta un tramite</NavLink>
<br>
<NavLink href="@($"/TramiteBaja/{user.Id}")">Haga click para dar de baja un tramite</NavLink>
<NavLink href="@($"/Consultaexpid/{user.Id}")">Haga click para cosultar un expediente por su id</NavLink>
<br>
<NavLink href="@($"/Listarexp/{user.Id}")">Haga click para lsitar los expedientes</NavLink>
<br>
<br>
<br>
<br>
<NavLink href="/">Haga click cerrar sesion</NavLink>



@code {
    [Parameter] public int Id {get; set;}
    
    Usuario user = new Usuario();

    protected override void OnInitialized()
    {
        user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
    }
}
