@page "/tramiteconsultaetiqueta"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteConsultaEtiqueta CasoConsulta
@inject NavigationManager Navigation
<PageTitle>SGE | Tramites</PageTitle>

<h3>Consulta de Tramite por etiqueta</h3>
<select class="form-control mt-2" @bind="strEtiqueta">
  <option value="" disabled selected>Seleccione una etiqueta</option>
  <option>EscritoPresentado</option>
  <option>PaseAEstudio</option>
  <option>Despacho</option>
  <option>Resolucion</option>
  <option>Notificacion</option>
  <option>PaseAlArchivo</option>
</select>
<button class="btn btn-primary mt-2" @onclick="() => Consultar(strEtiqueta)">Aceptar</button><br>
@if (visible)
{
  @if (tramites.Count > 0)
  {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>ID del expediente</th>
          <th>Etiqueta</th>
          <th>Contenido</th>
          <th>Fecha de creacion</th>
          <th>Fecha de modificacion</th>
          <th>Ultimo usuario en modificarlo</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Tramite t in tramites)
        {
          <tr>
            <td>@t.Id</td>
            <td>@t.ExpedienteId</td>
            <td>@t.Etiqueta</td>
            <td>@t.Contenido</td>
            <td>@t.FechayHoraCr</td>
            <td>@t.FechayHoraMod</td>
            <td>@t.IdUser</td>
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <br><h5>No existen tramites con la etiqueta seleccionada</h5>
  }
}
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>


@code {
  List<Tramite> tramites = new();
  string strEtiqueta = "";
  string error = "";
  bool visible = false;

  void Consultar(string strEtiqueta)
  {
    try
    {
      var etiqueta = (EtiquetaTramite)Enum.Parse(typeof(EtiquetaTramite), strEtiqueta);
      tramites = CasoConsulta.Ejecutar(etiqueta);
      visible = true;
    }
    catch (Exception ex)
    {
      error = ex.Message;
    }
  }

  void Volver() => Navigation.NavigateTo($"/home");
}